
.search{
    display: flex;
    justify-content: center;
    
}

.search-input{
 color: white;
    margin-right: 2px;
    padding: 8px 5px 8px 5px;
    width: 20em;
    background-color: #6319b885;
    border:none !important;
    outline:none !important;
}

.search-input::placeholder{
    color: rgba(255, 255, 255, 0.781);
}

.detailButton22{
    background-color: #6319B8;
    text-align: center;
    color: white;
    border: none;
    box-shadow: none;
    width: 90px;
    height: 30px;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}
.detailButton22:hover{
    background-color: #814abe;
    
}

.projectText{
    color:#6319B8;
}

.card-background{
    background-color: rgba(224, 224, 211, 0.11);
}

.cardHeader{
    background-color: #7107eb3a;
}