body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .outsource {
    color: #6319B8;
  }
  
  .parentSidebar {
    width: 250px;
    background-color: #FFFFFF;
    color: #fff;
    padding: 20px 20px 20px 0px;
    position: fixed; /* Set the position to fixed */
  }
  
 

  @media (max-width: 768px) {
    
    .parentSidebar{
      position: static;

    }
    .sidebar{
      position: relative;
      right: 50%;
    }
  }
  @media (max-width: 552px) {
    .sidebar{
      position: relative;
      right: 20%;
    }
    .sidebar a{
      padding: 0px 10px 0px 10px;
    }
    

  }
  @media (min-width: 554px) and (max-width: 574px) {
    .sidebar a{
      padding: 0px 25px 0px 25px;
    }
    .sidebarLink{
      font-size: small;
    }
  }
  @media (min-width: 402px) and (max-width: 552px) {

    .sidebarLink{
      font-size: small;
     
    }
  }



  @media (max-width: 768px) {
    
  
    .sidebar {
      display: flex;

    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  
  
  
  .sidebar a {
    display: block;
    color: #6C7172;
    text-decoration: none;
    transition: all 0.3x;
    padding-top:3px;
    padding-bottom:3px;
    width:100%
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #6319b83d;
    color: black;
    padding: 4px 0px 6px 0px;
    border-left: 2px solid #6319B8;
    
  }

  .signOutButton{
    background-color: #6319B8;
    color: white;
    border-radius: 10%;
    border: none;
    justify-content: center;
    margin-left: 35%;
    padding: 5px 10px 5px 10px;
    transition: all 0.5s;
    
  }
  
  .signOutButton:hover{
    background-color: #6319b88c;
    color: black;
  
  }
 
  
  
  