.task-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;

}
.solo-applicant-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    

}